# OS files
.DS_Store
Thumbs.db
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
out/
build/
.swc/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
